# Backend
ConnectionStrings__Postgres=Host=localhost;Port=5432;Database=lasmart_driver_records;Username=postgres;Password=postgres
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:8080

# Frontend
# Angular читает api url из src/environments/environment.ts
